<blockquote class="blockquote ml-5">
    <h2>Candidate information</h2>

    <footer class="blockquote-footer">
         Inline table editing with <i>Angular</i> and <i>Asp.Net Core</i>
    </footer>
</blockquote>
<nav>
    <a href="#" [routerLink]="['/candidate-tabs']"></a>
</nav>


<div class="grid-table">
    <div class="thead">
        <div class="tr">
            <!-- <div class="td">CandidateID</div> -->
            <div class="td">CreateDate</div>
            <div class="td">UpdateDate</div>
            <div class="td">EmailAddress</div>
            <div class="td">ContactNo</div>
            <div class="td">
                <button class="btn btn-outline-success" (click)="addCandidateTabsForms()">
                    <i class="fa fa-plus"></i> New Candidate
                </button>
            </div>
        </div>
    </div>
    <div class="tbody">
        <form class="tr" [formGroup]="fg" *ngFor="let fg of candidateTabsForms.controls" (submit)="recordSubmit(fg)">
            <!-- <div class="td">
                <input type="hidden" class="form-control" formControlName="CandidateID">
            </div> -->
            <div class="td">
                <input type="datetime-local" class="form-control" formControlName="CreateDate">
            </div>
            <div class="td">
                <input type="datetime-local" class="form-control" formControlName="UpdateDate">          
            </div>
            <div class="td">
                <input class="form-control" formControlName="EmailAddress">
            </div>
            <div class="td">
                <input class="form-control" formControlName="ContactNo">
            </div>
            <div class="td">
                <button type="submit" class="btn btn-success"
                [disabled]="fg.invalid">              
                <i class="far fa-save fa-lg"></i>
                {{fg.get('CandidateID').value==0?'Submit':'Update'}}
                </button>
            </div>             
        </form>
        <br>
        <button>
            <a href="#" class="btn btn-outline-dark" [routerLink]="'/careerinformations'">Next</a>
        </button>
    </div>
</div>

